.prediction-page {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: #222;
  background-color: #e6e0e0;
  border-radius: 1rem;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
   transition: all 0.3s ease;
}

.nav-buttons button {
  padding: 0.5rem 1.2rem;
  font-size: 0.95rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-buttons button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.controls label {
  font-weight: 500;
  font-size: 0.95rem;
}

.controls select {
  margin-left: 0.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.predict-btn {
  background-color: #f6c800;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.predict-btn:hover {
  background-color: #ffd500;
}

.metrics {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.plots {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.plot-section {
  background-color: #dedcdc;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}

.plot-section h4 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.prediction-page,
.intro-page {
  animation: fadeIn 0.6s ease forwards;
}

/* .analysis-section {
  background: #f5f5f5;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
} */

.model-analysis h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.model-analysis h5 {
  margin-top: 1rem;
  font-weight: 600;
}

.model-analysis ul {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
  line-height: 1.6;
}


.model-analysis {
  background-color: #dedcdc;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  text-align: left;
}

.model-analysis summary {
  font-size: 1.05rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.model-analysis ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  line-height: 1.8;
}

.model-analysis li {
  margin-bottom: 0.6rem;
}